@page "/"

<PageTitle>Index</PageTitle>

<HeadContent>
    <meta name="description" content="Blazor SEO index page contains the Home main menu of the Blazor SEO demo application." />
</HeadContent>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
