@page "/counter"

<PageTitle>Counter</PageTitle>

<HeadContent>
    <meta name="description" content="Blazor SEO counter page contains a sample counter page in the Blazor SEO demo application." />
</HeadContent>

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
